<%- include('../../../../app/views/shared/header') %>
<%- include('../../../../app/views/shared/simple_nav') %>
  <main>
    <article>
        <section>
          <figure>
            <!--<img src="/favicon.png"/>-->
          </figure>
        </section>
        <section>
          <p>TEST USER LOGGED IN FORM</p>
        </section>
    </article>
  </main>
<%- include('../../../../app/views/shared/footer') %>