<html>
<% const homeLink = locals.protocol+locals.url; %>
<body style="background:#ececec; margin:1em; padding:1em;">
	<div style="margin:1em; background:#fff; padding:0.5em;">
		<h2>Account Udpate Notification.</h2>
		<p>Your user account was just updated</p>

		<p>
			Login to <%- appname %> at 
			<a href='<%- homeLink %>' target='_blank'>
			<%- homeLink %>
			</a> 
		</p>
	</div>
</body>
</html>