<% include ../shared/header %>
<% include ../shared/nav %>
<div class="_pea-container">
  <div class="_pea-row">
    <div class="_pea-col-span6 _pea-col-nofloat">
      <h2 class="text-left"><%= pagedata.title %></h2>

      <form action="/auth/forgot" method="post" autocomplete="on" id="forgot_form" name="forgot_form" class="_pea-form">
        <div class="_pea-row _pea-container-forminput">
          <small> Email </small>
          <input type="text" name="email" class="_pea-col-span12" placeholder="email@domain.com" />
        </div>
        <input type="hidden" name="_csrf" value=<%= locals.token %> >
      </form>
    </div>
  </div>
</div>
</div>
<% include ../shared/footer %>
