<% include ../shared/header %>
<div class="ts-container">
  <div class="ts-row">
    <div class="ts-col-span8 ts-col-nofloat">
      <h2 class="text-left"><%= pagedata.title %></h2>

      <form action="/auth/forgot" method="post" autocomplete="on" id="forgot_form" name="forgot_form" class="ts-form">
        <input type="hidden" name="_csrf" value=<%= locals.token %> >
        <div class="ts-row ts-form-row">
          <label class="ts-label"> Email </label>
          <input type="text" name="email" class="ts-col-span12" placeholder="email@domain.com" />
        </div>
<button type="submit" name="submit" class="ts-button ts-color-success">
<i class="icon-ok icon-white"></i> Submit</button>
      </form>
    </div>
  </div>
</div>
<% include ../shared/footer %>
