<div class="ts-row ts-form-row">
	<label class="ts-label">Username / Email </label>
	<input type="text" name="username" class="ts-col-span12 ts-input" placeholder="username or email@domain.com" />
</div>
<div class="ts-row ts-form-row">
	<label class="ts-label">Password</label>
	<input type="password" name="password" placeholder="password" class="ts-col-span12  ts-input"  />
	<div class="ts-col-span3">
		<label class="ts-label">Remember me</label>
		<input type="checkbox" name="rememberme" />	
	</div>
	<div class="ts-col-span3">
    <label class="ts-label"><a href="/auth/forgot">Forgot Password</a></label>
	</div>
</div>
<div class="ts-row ts-form-row ts-text-sm ts-text-center">
	<button type="submit" name="submit" class="ts-button ts-color-success"><i class="icon-ok icon-white"></i> Login</button>
	<a href="/auth/facebook" class="ts-button">Facebook login</a>
	<a href="/auth/twitter" class="ts-button">twitter login</a>
	<a href="/auth/instagram" class="ts-button">instagram login</a>
	<small>or</small>
	<a href="/auth/user/register" class="ts-button">Register</a>
</div>
<input type="hidden" name="_csrf" value=<%= locals.token %> >
