<input type="hidden" name="_csrf" value="<%= locals.token %>" >

<div class="ts-row ts-form-row">
	<label class="ts-label">Email</label>
	<input type="email" name="email" placeholder="Your email address"  class="ts-col-span12"/>
</div>
<div class="ts-row ts-form-row">
	<label class="ts-label">Username</label>
	<input type="text" name="username" placeholder="username"  class="ts-col-span12" />
</div>
<div class="ts-row ts-form-row">
	<label class="ts-label">Password</label>
	<input type="password" name="password" placeholder="password"  class="ts-col-span12"/>
</div>
<div class="ts-row ts-form-row" style="margin-bottom:1.5em">
	<label class="ts-label">Confirm password</label>
	<input type="password" title="confirm your password" name="passwordconfirm" placeholder="confirm password" class="ts-col-span12" />
</div>
<div class="ts-text-center">
	<button type="submit" name="submit" class="ts-button ts-bg-primary-color"><i class="icon-ok icon-white"></i> Register</button>
	<a href="/auth/login" class="ts-button">Log in</a>
	<label class="ts-label">or</label>
	<a href="/auth/facebook" class="ts-button">login with Facebook</a>
	<a href="/auth/twitter" class="ts-button">twitter login</a>
	<a href="/auth/instagram" class="ts-button">instagram login</a>
</div>